@model ClosetInventory.Models.UploadViewModel

@{
    ViewBag.Title = "Upload a Picture";
}

<h2>Upload a File</h2>


@{
    ViewBag.Title = "Create";
}
@*@if (IsPost)
{
    WebImage file = WebImage.GetImageFromRequest();
    string fileName = Path.GetFileName(file.FileName);
    var path = Path.Combine(Server.MapPath("~/Images/"), fileName);
    file.Save(path);

    var thumbFile = file.Resize(width: 60, height: 60, preserveAspectRatio: true,
       preventEnlarge: true);
    thumbFile.Save("~/Images/Thumbs/" + fileName);

    string smallFile = "/Images/" + fileName;
    string largeFile = "/Images/Thumbs/" + fileName;

    Model.SmallFile = smallFile;
    Model.LargeFile = largeFile;
}*@

<h1>Image</h1>

<form action="@Url.Action("SetImageType", "Covers")" method="post" enctype="multipart/form-data" name="file"> 
    <fieldset>
        <label for="file">Image</label>
        <input type="file" name="file" onchange="ShowPicture(this)" />
        <img id="image" src="#" />
        <input type="submit" value="Upload" />
    </fieldset>
</form>

<script type="text/javascript">
                function ShowPicture(file) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200)
                    };
                    reader.readAsDataURL(file.files[0])
                }
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
