@model IEnumerable<ClosetInventory.Models.WishListItem>

@{
    ViewBag.Title = "Wish List";
}

<h1>Your Wish List</h1>

<h4> Click the link to buy it on Amazon.com.</h4>
<hr />
@foreach (var item in Model) {
    <div class="row">
            <a href="@item.Url">@Html.DisplayFor(modelItem => item.Title)</a>
            <br />

            <img src="@item.ImageUrl" />
        
            <a href="Delete/@item.Id" class="btn btn-primary"> Remove </a>
    </div>
}


