<button type="button" onclick="RenderPage('Dresses')" class="btn btn-primary">Dresses</button>
<button type="button" onclick="RenderPage('Pants')" class="btn btn-primary">Pants</button>
@*<button type="button" onclick="RenderPage('Skirts')">Skirts</button>*@
<button type="button" onclick="RenderPage('Shirts')" class="btn btn-primary">Shirts</button>
<button type="button" onclick="RenderPage('Shoes')" class="btn btn-primary">Shoes</button>
<button type="button" onclick="RenderPage('Covers')" class="btn btn-primary">Covers</button>
